body.bg{

background:
radial-gradient(circle at center,
#0b0000,
#020000
);

font-family:system-ui;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}


/* карточка */

.card{

background:

linear-gradient(
145deg,
#120000,
#1c0000
);

padding:40px;

border-radius:28px;

text-align:center;

width:85%;

max-width:420px;

box-shadow:

0 0 50px rgba(255,0,0,0.15);

}


/* логотип */

.logo{

width:160px;

margin-bottom:25px;

filter:

drop-shadow(0 0 15px red);

}


/* кнопка старт */

.main-btn{

display:block;

margin-top:30px;

padding:18px;

background:

linear-gradient(
90deg,
#ff0000,
#8a0000
);

color:white;

border-radius:18px;

text-decoration:none;

font-weight:600;

font-size:18px;

box-shadow:

0 0 20px rgba(255,0,0,0.5);

}


/* сетка кнопок */

.grid{

display:grid;

grid-template-columns:

1fr 1fr;

gap:20px;

margin-top:25px;

}


/* кнопки времени */

button{

padding:18px;

border-radius:18px;

border:none;

font-size:18px;

color:white;

background:

linear-gradient(
145deg,
#1a0000,
#2b0000
);

box-shadow:

0 0 15px rgba(255,0,0,0.2);

transition:0.25s;

}


/* hover эффект */

button:hover{

transform:scale(1.05);

background:

linear-gradient(
145deg,
#2a0000,
#420000
);

box-shadow:

0 0 25px rgba(255,0,0,0.5);

}
.retry-btn{

display:block;

margin-top:30px;

padding:18px;

background:

linear-gradient(
90deg,
#ff0000,
#6a0000
);

color:white;

border-radius:18px;

text-decoration:none;

font-weight:600;

font-size:18px;

box-shadow:

0 0 25px rgba(255,0,0,0.6);

transition:0.25s;

}

.retry-btn:hover{

transform:scale(1.05);

background:

linear-gradient(
90deg,
#ff1a1a,
#8a0000
);

}